tests/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="a">
    <xs:sequence minOccurs="2" maxOccurs="unbounded">
      <xs:element name="b" type="b"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="b">
    <xs:attribute name="id" type="xs:integer"/>
  </xs:complexType>
  <xs:element name="a" type="a"/>
</xs:schema>
